<div class="bg-white p-8 rounded-2xl max-w-[570px] w-full shadow-md">
  <h3 class="page-title text-center">Sign in to your account</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-7">
      <label for="name" class="block font-medium text-base text-gray-700 mb-2">Name</label>
      <input formControlName="name" type="text" name="name" placeholder="Type your name" class="blog-input pl-3" />
      <div *ngIf="nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)" class="text-red-500 text-sm mt-2">
        <div *ngIf="nameControl?.errors?.['required']">Name is required.</div>
        <div *ngIf="nameControl?.errors?.['minlength']">
          Name must be at least {{nameControl?.errors?.['minlength'].requiredLength}} characters long.
        </div>
      </div>
    </div>
    <div class="mb-7">
      <label for="email" class="block font-medium text-base text-gray-700 mb-2">Email</label>
      <input formControlName="email" type="email" name="email" placeholder="Type your email" class="blog-input pl-3" />
      <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)" class="text-red-500 text-sm mt-2">
        <div *ngIf="emailControl?.errors?.['required']">Email is required.</div>
        <div *ngIf="emailControl?.errors?.['email']">Provide valid.</div>
      </div>
    </div>
    <div>
      <app-auth-button [fullWidth]="true" [disabled]="loginForm.invalid">
        Sign In
      </app-auth-button>
    </div>
  </form>
</div>
